<div class="fields">
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
  <%= f.label :name, "IP" %>
  <%= f.text_field :ip %>
  <%= f.text_field :belongs_to %>
  <%= f.hidden_field :_destroy %>
  <%= link_to_function "remove", "remove_fields(this)" %>
</div>
