<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @node.name %>
</p>

<p>
  <b>Ip:</b>
  <%= @node.ip %>
</p>

Name | IP | Belongs To
<ol>
<% for virtual_server in @node.virtual_servers %>
  <li><%=h virtual_server.name %> | <%=h virtual_server.ip %> | <%=h virtual_server.belongs_to %></li></li>
<% end %>
</ol>

<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
